*{
	padding:0px;
	margin:0px;
}


p{
	position:absolute;
	left:15%;
	bottom:8%;
	margin-left:2%;
	font-family:'Berlin Sans FB';
	font-size:1.2em;
	text-align:center;
	color:#FFDE00;
}

strong, em{
	font-weight:600;
}

a{
	color:#4DA3D4;
}
a:hover{
	background-color:#4DA3D4;
	color:white;
}

h1{
	font-family:'Showcard gothic';
	font-size:155px;
	transform:scale(.7,1);
	text-shadow:8px 0 black, 0 6px black, -3px 0 black, 0 -3px black;
}

h2{

	font-family:'Harrington';
	font-size:40px;
	transform:scale(.7,1);
	text-align:right;
	text-shadow:1px 0 black, 0 1px black;

}

#titres{
	position:absolute;
	top:20%;
	color:#FFDE00;
}

#donut{
	position:absolute;
	margin:0;
	width:28%;
	left:55%;
	top:-24%;
}
#logo{
	position:absolute;
	width:20%;
	top:2%;
	left:2%;
}
#homer{
	position:absolute;
	right:5%;
	bottom:0px;
}